= render "shared/side_bar"
.chat-main
  .chat-main__header
    .chat-main__header--top
      .chat-main__header--name
        sample-group-name
      = link_to "", class: "chat-main__header--edit-btn" do
        Edit
    .chat-main__header--bottom
      MEMBER:
      %i
        sample-user-name sample-user-name sample-user-name sample-user-name sample-user-name sample-user-name sample-user-name sample-user-name
  .chat-main__body
    .chat-main__body--messages
      = render @messages
  .chat-main__footer
    .chat-main__form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: "chat-main__form--message", placeholder: "type a message"
        = f.label :image, class: "chat-main__form--mask" do
          %i.fa.fa-picture-o
          = f.file_field :image, class:"hidden"
        = f.submit "Send", class: "chat-main__form--submit"
